.Menu{
    padding: 15px 0px;
    text-align: center;
}

.Menu li{
    display: inline;
    margin-right:10px;
    padding-right: 27px ;
    background-image: url("/asset/img/patinha-preta.png");
    background-repeat: no-repeat;
    background-position: right center;
}

.Menu li:hover{
    margin-right: 15px;
    background-color: rgb(255, 210, 210);
    border: 1px solid black;
    border-radius: 10px;
}

#itemContato {
    background-image: none;
}

.Menu a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
